
<div class="container" ng-controller="CommunityController as CommunityCtrl">
  <div id="communityBody">

    <div clas="row">

      <div class="col-md-6">

        <h1>The Word. Biking on Twitter:</h1>

        <p>Cliffeofficial: Some kid fell off his bike  https://t.co/4u6OCymWEJ</p>
<p>shellydasavage_: ShellyDaSavage: MESSING AROUND ON A SUPER BIKE: https://t.co/sDF60O53SZ</p>
<p>alwaysbeinzizi: A bike ride and a Bonfire. Spring has sprung.</p>
<p>ratrodbenny: @bashdad thanks for the follow! Nice bike!</p>
<p>SofterSanMarcos: RT @elliotxblue: biking down this cliff in rock bottom is #saferthanatrumprally https://t.co/hat3utC3jJ</p>
<p>adilahyunos: RT @Earth_Pics: Biking on the cliffs of Moher, Ireland - Victor Lucas https://t.co/DjCCizfVpQ</p>
<p>Lrbcn: @widgetfactoryco Kara riding that bike is making me miss Root</p>
<p>BestBikesOnline: Pure Fix Cycles Fixed Gear Single Speed Urban Fixie Bike https://t.co/eEboGV6YwK</p>
<p>BestBikesOnline: Diamondback 2012 Overdrive 29'er Mountain Bike (Black) https://t.co/Ci22i7zBfx</p>
<p>ShanLaShawn: Now Alex is jumping on the bike. THIS SHOW IS TRYING TO KILL US! #Supergirl</p>
</ul>

<button type="button" class="btn btn-primary" ng-click="showTweets()">What's the word?</button>
        <!-- <div class="container" ng-controller="TweetCtrl">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="findTweets()" ng-disabled="btnIsDisabled">{{btnText}}</button>
                <span ng-repeat="tweet in tweets | reverse">
                    <tweet />
                </span>
            </div>
          </div>
        </div> -->

      </div>

        <div class="col-md-6">


            <h1 id="hubGreet" class="jumbotron">Welcome to The Hub!</h1>
            <!-- <h2>Check out the latest on bikes:</h2> -->
            <div id="tweetContainer">
             <ul>





            </div>

            <h2 class="lead">What's on your mind?</h2>
            <div id="CommentContainer" ng-repeat="comment in comments">
            <p><strong>{{ currentUser() }}</strong>: {{ comment.comment }}</p>
            </div>
            <!-- <input type="text" placeholder="User" ng-model="user"></input> -->
            <input type="text" placeholder="What's on your mind.." ng-model="comment"></input>
            <input type="submit" ng-click="submitComment()"></input>
          </div>

    </div>

</div>
